*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#root {
    margin: 0 auto;
    position: relative;
}
.content{
    max-width: 1280px;
    padding: 2rem;
    margin: 0 auto;
    min-height: 100vh;
    max-height: auto;
}
.content-wrap{
    padding-bottom: 5rem;
}
.footer{
    bottom: 0;
    height: 5rem;
    width: 100%;
    /* position: absolute; */
}
.account-connect{
    display: flex;
    height: 100vh;
}
.account-acces{
    max-width: 100%;
    min-width: 400px;
    margin: 0 auto;
    padding: 0;
    align-self: center;
}
.img-responsive {
    width: 100%;
}
.login-box, .register-box {
    width: 360px;
}
.pprofile{
    width: 300px;
    border: 1px dashed #aaa;
    padding: 10px;
    align-self: center;
}
.pprofile img{
    width: 100%;
}
.preview{
    /* border-radius: 10rem; */
    border: 5px solid #eaf2ef;
}
.imgprofile{
    border-radius: 3rem;
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}
/* .pagination {
    padding: 2px 8px;
    width: 40px;
    height: 40px;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;

} */
.pagination .active {
    font-weight: 900;
    background: #0024a9;
    color: #f1f1fe;
}
.pprofile .banner{
    background-image: url(/src/assets/profilebg.jpg) !important;
    background-size: "cover";
    height: 200px;
    margin-bottom: 25px;
}
.suppbtn button {
    padding: 2px;
}